PINATA_API_KEY=your_pinata_api_key
PINATA_SECRET=your_pinata_api_secret
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/your_api_key
PRIVATE_KEY=your_wallet_private_key
CONTRACT_ADDRESS=your_deployed_contract_address
PORT=5000
